<!-- src/pages/about.astro -->
<script context='module' {...{} as AstroScriptAttributes}>
	console.log('About Us page module')
</script>

<div class='article-container text-center bg-white text-black p-8 rounded-md'>
	<div class='flex justify-between flex-col gap-4 md:gap-0 py-6 pl-1'>
		<div class='flex flex-col gap-3'>
			<div class='flex flex-col gap-2'>
				<h1 class='text-3xl font-semibold text-indigo-600 mb-4'>About Us</h1>
			</div>

			<h4 class='text-2xl font-semibold text-indigo-600 mb-4'>Who We Are</h4>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				Welcome to Arabic-Science, your gateway to the wonders of science and discovery in Arabic.
				We are a passionate team of bloggers dedicated to making science accessible and exciting for
				our Arabic-speaking audience. Our goal is to share the latest discoveries, research, and
				technology, making science engaging and informative.
			</p>

			<h4 class='text-2xl font-semibold text-indigo-600 mb-3'>Our Mission</h4>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				At Arabic-Science, we believe in the power of knowledge and the impact it can have on
				individuals and communities. Our mission is to foster a community that appreciates and
				values science. We strive to present information in an interesting and compelling manner,
				encouraging curiosity and exploration.
			</p>

			<h4 class='text-2xl font-semibold text-indigo-600 mb-3'>What Sets Us Apart</h4>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				What makes Arabic-Science unique is our commitment to providing content in Arabic, ensuring
				that language is not a barrier to accessing valuable scientific information. We take pride
				in our diverse team of contributors who share a passion for science and a dedication to
				delivering accurate and engaging content.
			</p>

			<h4 class='text-2xl font-semibold text-indigo-600 mb-3'>How We Create Content</h4>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				At Arabic-Science, we believe in sharing valuable and relevant content with our audience.
				Our content creation process involves meticulous research and analysis. We draw inspiration
				from reputable and established blogs, ensuring that our readers receive accurate and
				up-to-date information.
			</p>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				We respect the work of other content creators and acknowledge their contributions by
				providing proper attribution. Each post includes a link to the original source, allowing our
				audience to explore further and giving credit to the original authors.
			</p>

			<h4 class='text-2xl font-semibold text-indigo-600 mb-3'>Connect With Us</h4>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				We invite you to join us on this exciting journey of exploration and discovery. Connect with
				us on social media, share your thoughts, and be part of our growing community. Your
				curiosity fuels our passion for sharing knowledge!
			</p>
			<h4 class='text-2xl font-semibold text-indigo-600 mb-3'>Contact Information</h4>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				Have questions or suggestions? Feel free to reach out to us at Email: Tanalt030@gmail.com
				Instagram: <a
					href='https://www.instagram.com/Brahim_chatri'
					target='_blank'
					class='text-indigo-600'>Brahim_chatri</a
				>
				 or Facebook Page : <a
					href='https://www.facebook.com/profile.php?id=100070697280336&mibextid=ZbWKwL'
					target='_blank'
					class='text-indigo-600'>Arabic-Science</a
				>
			</p>
		</div>

		<footer class='footer'>
			<a
				href='/'
				class='bg-indigo-600 text-white rounded-full py-2 px-4 hover:bg-indigo-700 transition-colors duration-300 ease-in-out font-semibold inline-flex items-center'
				aria-label='Go to Home'
			>
				<span class='mr-2'>Back to Home</span>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					fill='none'
					viewBox='0 0 24 24'
					stroke='currentColor'
					class='h-4 w-4'
				>
					<path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M11 19l-7-7 7-7'
					></path>
				</svg>
			</a>
		</footer>
	</div>
</div>
