<!-- src/pages/privacy.astro -->
<script context='module' {...{} as AstroScriptAttributes}>
	console.log('Privacy page module')
</script>

<div class='article-container text-center bg-withe text-black p-8 rounded-md'>
	<div class='flex justify-between flex-col gap-4 md:gap-0 py-6 pl-1'>
		<div class='flex flex-col gap-3'>
			<div class='flex flex-col gap-2'>
				<h2 class='text-3xl font-semibold text-indigo-600 mb-4'>
					Privacy Policy of Arabic-Sciense
				</h2>
			</div>

			<h3 class='text-2xl font-semibold text-indigo-600 mb-4'>Information We Collect</h3>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				Personal Information: We do not collect personal information such as names, email addresses,
				or contact details unless provided voluntarily.
			</p>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				Non-Personal Information: We collect non-personal information, including browser types,
				operating systems, and anonymous usage data, to improve website performance and user
				experience.
			</p>

			<h3 class='text-2xl font-semibold text-indigo-600 mb-4'>How We Collect Information</h3>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				Information is collected through various means, including when users interact with our
				website, leave comments, or subscribe to newsletters.
			</p>

			<h3 class='text-2xl font-semibold text-indigo-600 mb-3'>Use of Information</h3>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				3.1 Personal Information: No personal information is collected unless voluntarily provided.
			</p>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				Non-Personal Information: Non-personal information is used for analytics, enhancing website
				functionality, and improving user experience.
			</p>

			<h3 class='text-2xl font-semibold text-indigo-600 mb-3'>Cookies and Tracking Technologies</h3>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				We use cookies and similar technologies for tracking user interactions and collecting data
				for analytics purposes. Users can control cookie preferences through their browser settings.
			</p>

			<h3 class='text-2xl font-semibold text-indigo-600 mb-3'>Third-Party Disclosure</h3>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				We do not sell, trade, or transfer personal information to third parties. Non-personal
				information may be shared for analytics and marketing purposes.
			</p>

			<h3 class='text-2xl font-semibold text-indigo-600 mb-3'>Third-Party Links</h3>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				Our blog may contain links to third-party websites. We are not responsible for the privacy
				practices of these external sites.
			</p>

			<h3 class='text-2xl font-semibold text-indigo-600 mb-3'>Security</h3>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				We implement security measures to protect against unauthorized access, alteration,
				disclosure, or destruction of personal information.
			</p>

			<h3 class='text-2xl font-semibold text-indigo-600 mb-3'>Children's Privacy</h3>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				Our blog is not directed at individuals under the age of 13. We do not knowingly collect
				personal information from children.
			</p>

			<h3 class='text-2xl font-semibold text-indigo-600 mb-3'>Changes to This Privacy Policy</h3>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				We reserve the right to update or modify this privacy policy. Changes will be reflected on
				this page with an updated effective date.
			</p>

			<h3 class='text-2xl font-semibold text-indigo-600 mb-3'>Contact Information</h3>
			<p class='text-gray-700 dark:text-white mb-5 text-lg'>
				For questions or concerns regarding this privacy policy, please contact us at Email :
				tidnghi2003@gmail.com
			</p>
		</div>
	</div>

	<footer class='footer'>
		<a
			href='/'
			class='bg-indigo-600 text-white rounded-full py-2 px-4 hover:bg-indigo-700 transition-colors duration-300 ease-in-out font-semibold inline-flex items-center'
			aria-label='Go to Home'
		>
			<span class='mr-2'>Back to Home</span>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				fill='none'
				viewBox='0 0 24 24'
				stroke='currentColor'
				class='h-4 w-4'
			>
				<path
					stroke-linecap='round'
					stroke-linejoin='round'
					stroke-width='2'
					d='M11 19l-7-7 7-7m8 14l-7-7 7-7'></path>
			</svg>
		</a>
	</footer>
</div>
