---
const today = new Date()
---

<footer class='flex justify-center items-center w-full px-16 h-28 border-t-2' dir='ltr'>
	&copy; {today.getFullYear()} Arabic-Science - All rights reserved. <a href='/privacy'
		>Privacy Policy</a
	>
	<a href='/about'>About us</a>
</footer>
